networks:
  internal:
    driver: bridge

services:

  postgres:
    image: postgres:15
    container_name: postgres
    env_file: .env
    networks:
      - internal
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    networks:
      - internal
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - redis_data:/data
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "mlCkv2oN#%sZ+GalJfn:CPaB9Tq1dc.K", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    image: ghcr.io/andreysapeshko/atomic-backend:${IMAGE_TAG}
    container_name: backend
    env_file: .env
    networks:
      - internal
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - static_volume:/app/static
      - logs_volume:/app/logs
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  celery_worker:
    image: ghcr.io/andreysapeshko/atomic-backend:${IMAGE_TAG}
    container_name: celery_worker
    env_file: .env
    networks:
      - internal
    command: celery -A atomic_habits_tracker worker -l info
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  celery_beat:
    image: ghcr.io/andreysapeshko/atomic-backend:${IMAGE_TAG}
    container_name: celery_beat
    env_file: .env
    networks:
      - internal
    command: celery -A atomic_habits_tracker beat -l info
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  telegrambot:
    image: ghcr.io/andreysapeshko/atomic-backend:${IMAGE_TAG}
    container_name: telegrambot
    env_file: .env
    restart: unless-stopped
    networks:
      - internal
    depends_on:
      backend:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  frontend:
    image: ghcr.io/andreysapeshko/atomic-frontend:${IMAGE_TAG}
    container_name: frontend
    restart: unless-stopped
    networks:
      - internal

  nginx:
    image: ghcr.io/andreysapeshko/atomic-nginx:${IMAGE_TAG}
    container_name: nginx
    restart: unless-stopped
    networks:
      - internal
      - default
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_healthy
    volumes:
      - static_volume:/app/static
      - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  postgres_data:
  redis_data:
  static_volume:
  logs_volume:
