DJANGO_ENV=dev

SECRET_KEY=django-secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DJANGO_SETTINGS_MODULE=atomic_habits_tracker.settings

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=atomic_habits_tracker
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

TELEGRAM_BOT_TOKEN=my_telegram_bot_token
TELEGRAM_WEBHOOK_URL=https://your-domain.com/webhook/

TELEGRAM_USE_WEBHOOK=True
TELEGRAM_ADMIN_ID=777

JWT_ACCESS_LIFETIME=15
JWT_REFRESH_LIFETIME=7