DJANGO_ENV=prod
USE_HTTPS=False

SECRET_KEY=django-secret_key
DEBUG=False
ALLOWED_HOSTS=*

DJANGO_SETTINGS_MODULE=atomic_habits_tracker.settings

POSTGRES_PORT=5432
POSTGRES_DB=atomic_habits_tracker
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

TELEGRAM_BOT_TOKEN=my_telegram_bot_token
TELEGRAM_WEBHOOK_URL=https://your-domain.com/webhook/
TELEGRAM_USE_WEBHOOK=False
TELEGRAM_ADMIN_ID=777

CSRF_TRUSTED_ORIGINS=https://sapeshkoas.ru,https://www.sapeshkoas.ru
CORS_ALLOWED_ORIGINS=https://sapeshkoas.ru,https://www.sapeshkoas.ru

JWT_ACCESS_LIFETIME=15
JWT_REFRESH_LIFETIME=7